body {
     font-family: 'Cutive Mono', monospace;
     font-size: 1.1em;
     width: 1024px;
     /* Using a webkit/moz/o/ms items allows a developer to be able to go beyond basic CSS
     and style for specific browsers using properties that have not been standardized
     by the W3 community */
     background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #F58B27),
     color-stop(1, #FF4583)
);
     background-image: -o-linear-gradient(bottom, #F58B27 0%, #FF4583 100%);
     background-image: -moz-linear-gradient(bottom, #F58B27 0%, #FF4583 100%);
     background-image: -webkit-linear-gradient(bottom, #F58B27 0%, #FF4583 100%);
     background-image: -ms-linear-gradient(bottom, #F58B27 0%, #FF4583 100%);
     background-image: linear-gradient(to bottom, #F58B27 0%, #FF4583 100%);
}

#shorthr {
     width: 75%;
}

main {
     text-align: center;
     max-width: 960px;
     margin-top: 70px;
     margin-left: 25px;
     margin-right: 25px;
     margin-bottom: 25px;
     background-color: #EFEFEF;
     border-radius: 5px;
}

.blogheader {
     padding-top: 20px;
}

section {
     padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alfa Slab One', cursive;
}

#menu  {
     list-style-type: none;
}

a {
     color: #074379;
}

a:active {
     color: #F4A83B;
}

img.dbells {
     border: 4px;
     border-style: inset;
     border-color: white;
     width: 50%;
}

img.frogs {
     border: 4px;
     border-style: inset;
     border-color: white;
     width: 50%;
}

p {
     max-width: 70%;
     display: block;
     margin-left: auto;
     margin-right: auto;
}

#header {
     text-align: center;
}

#gymprob {
     width: 960px;
     margin-top: 22px;
}

#mateprob {
     width: 960px;
}

#weights {
     border-style: none;
     width: 50%;
     display: block;
     margin-left: auto;
     margin-right: auto;
}

#bodylist {
     text-align: left;
     width: 400px;
}

.bodylink {
     padding: 5px 5px 5px 5px;
     border-style: none;
}

footer {
     text-align: center;
}

@media screen and (max-width: 486px) {

     .blogheader {
          text-align: left;
          width: 45%;
     }
     #gymprob {width: 100%;}
     #mateprob {width: 100%;}
     .pgraf {width: 45%;}
     .dbells {width: 30%;}
     .frogs {width: 30%;}
}
